.container {
	display: flex;

	justify-content: center;
	align-items: center;

	.item {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 2.5rem;
		height: 2.5rem;

		cursor: pointer;
	}
}
