.main {
	display: flex;
	flex-direction: column;

	margin: 0;
	min-height: 100vh;
	padding-bottom: 1rem;

	color: #fafafa;
	background: #212121;

	.title {
		display: flex;
		justify-content: center;
		margin: 2rem;
	}

	.categorySelector {
		display: flex;
		justify-content: center;
		gap: 1rem;
		margin-bottom: 1rem;
	}

	.cardContainer {
		display: flex;
		flex-wrap: wrap;
		width: 100%;

		justify-content: center;

		.card {
			display: flex;

			margin: 1rem;

			width: 30rem;
			height: 14rem;

			color: #fff;
			background: #383838;

			border: 1px solid #212121;
			border-radius: 0.5rem;

			overflow: hidden;

			.cardInformations {
				display: flex;
				flex-direction: column;
				flex: 2;

				padding: 1rem;

				.cardHeader {
					display: flex;
					justify-content: space-between;
				}

				.trashContainer {
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: #212121;
					padding: 1rem;
					border-radius: 2rem;
					width: fit-content;
					cursor: pointer;
				}
			}
			.cardPoster {
				flex: 1;
				background-position: center;
				background-size: cover;
			}

			transition: transform 0.3s ease;
		}

		.card:hover {
			transform: scale(1.05);
			transition: transform 0.3s ease;
			border: 1px solid #5638f0;
		}
	}

	.pagination {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1rem;
		margin: 0.5rem;
		margin-top: auto;

		.paginationTop {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1rem;
		}

		.button {
			background-color: #5638f0;
			color: #fafafa;
			font-weight: bold;
			width: 5rem;
			padding: 0.5rem;
			border: none;
			border-radius: 1rem;
		}
	}
}
